name: Release

on: [push]

env:
  CI: true
  COREPACK_INTEGRITY_KEYS: 0

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4 (latest at the time of writing)
        id: app-token
        with:
          app-id: ${{ vars.STORYBOOK_BOT_APP_ID }}
          private-key: ${{ secrets.STORYBOOK_BOT_APP_PRIVATE_KEY }}

      - name: 'Set git user'
        run: |
          git config --global user.name 'storybook-bot'
          git config --global user.email '32066757+storybook-bot@users.noreply.github.com'

      - name: Enable corepack (for pnpm)
        # https://nodejs.org/api/corepack.html
        run: corepack enable

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Install Node.js dependencies with pnpm
        # https://pnpm.io/cli/install
        run: >
          pnpm install
          --frozen-lockfile

      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          pnpm run release
